.menu{
    width:100px;
    font-family: myWeddingFont;
    font-size: 12px;
    font-style: bold;
    float:left;
	margin-top:40%;
}
.item{
    position:relative;
    background-color:#f0f0f0;
    width:52px;
    margin:10px 5px;
    height:52px;
    border:2px solid #ddd;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    box-shadow:1px 1px 3px #555;
    cursor:pointer;
    overflow:hidden;
}

.link{
    left:2px;
    top:2px;
    position:absolute;
    width:48px;
    height:48px;
}
.icon_home{
    background:transparent url(/assets/home.png) no-repeat top left;
}
.icon_mail{
    background:transparent url(/assets/mail.png) no-repeat top left;
}
.icon_help{
    background:transparent url(/assets/help.png) no-repeat top left;
}
.icon_find{
    background:transparent url(/assets/find.png) no-repeat top left;
}
.icon_photos{
    background:transparent url(/assets/photos.png) no-repeat top left;
}
.item_content{
    position:absolute;
    height:52px;
    width:350px;
    overflow:hidden;
    left:56px;
    top:7px;
    background:transparent;
    display:none;
}
.item_content h2{
    color:#aaa;
    text-shadow: 1px 1px 1px #fff;
    background-color:transparent;
    font-size:14px;
}
.item_content a{
    background-color:transparent;
    float:left;
    margin-right:7px !important;
    margin-top:5px;
    color:#bbb;
    text-shadow: 1px 1px 1px #fff;
    text-decoration:none;
    font-size:10px;
	color:#0b965b;
	text-indent:10px;
	
}
.item_content a:hover{
    color:#0b965b;
	padding-left:10px;
}
.item_content p {
    background-color:transparent;
    display:none;
}
.item_content p input{
    border:1px solid #ccc;
    padding:1px;
    width:155px;
    float:left;
    margin-right:5px;
}