.menu{
    width:100px;
    font-family: myWeddingFont !important;
    font-size: 12px !important;
    float:left;
	margin-top:40%;
	font-weight:normal !important;
}
@media screen and (min-width: 800px)
{
	.menu{
		width:100px;
		font-family: myWeddingFont !important;
		font-size: 12px !important;
		float:left;
		margin-top:40%;
		font-weight:normal !important;
	}
}
.item{
    position:relative;
    background-color:#f0f0f0;
    width:52px;
    margin:10px 5px !important;
    height:52px;
    border:2px solid #ddd;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
    -moz-box-shadow:1px 1px 3px #555;
    -webkit-box-shadow:1px 1px 3px #555;
    box-shadow:1px 1px 3px #555;
    cursor:pointer;
    overflow:hidden;
}

.link{
    left:2px;
    top:2px;
    position:absolute;
    width:48px;
    height:48px;
}
.icon_home{
    background:url("/assets/greenH.png") no-repeat scroll -6px -7px transparent;
}
.icon_mail{
    background:url("/assets/greenG.png") no-repeat scroll -6px -7px transparent;
}
.icon_help{
    background:url("/assets/greenB.png") no-repeat scroll -6px -7px transparent
}
.icon_find{
    background:url("/assets/greenE.png") no-repeat scroll -6px -7px transparent
}
.icon_photos{
    background:url("/assets/greenM.png") no-repeat scroll -6px -7px transparent
}
.item_content{
    position:absolute;
    height:52px;
    width:auto;
    overflow:hidden;
    left:50px;
    top:0;
    background:transparent;
    display:none;
	margin-top:0 !important;
}
.item_content a{
    background-color:transparent;
    float:left;
    margin-right:7px;
    margin-top:0 !important;
    color:#bbb;
    text-shadow: 1px 1px 1px #fff;
    text-decoration:none;
	color:#0b965b;
	font-weight:normal !important;
	padding-left:5px;
}
.item_content a:hover{
    color:#0b965b;
	padding-left:10px;
}
.item_content p {
    background-color:transparent;
    display:none;
}
