<div id="wrapper">
	<div id="header">
		<marquee><div id="counter" style="background:url(images/flight.png)">Timer displayed here</div></marquee>
		<div id="innerContent" align="center">
			<div class="box" id="example01">
				<h2 id="title01" align="center" >About Bride</h2>
			</div>
			<div class="photo" id="example02">
				<img id="car1" src="images/laxmi.png" height="380" />
			</div>
			<div class="photoInfo" id="photoInfo">
				<dl id="dlName">Name</dl>
				<dd id="ddName">Lakshmi</dd>
				<dl id="dlQual">Qualification</dl>
				<dd id="ddQual">MCA</dd>
				<dl id="dlAge">Age</dl>
				<dd id="ddAge">Dont Ask :)</dd>
			</div>
		</div>
		<div>
			<a href="<%= engagement_path()%>">Engagement</a>
		</div>
	</div>
</div>

