<div class="container">
	<div class="leftContainer">
		<div class="leftInner">
			<marquee behavior="scroll" scrollamount="5"  onmouseout="this.start()" onmouseover="this.stop()">
			  <img src="/assets/flight.png" alt="flight" height="90px" width="600px;"/>
			  <div class="timeFlag" id="countdown"></div>
			</marquee>
			
			<div class="leftInnerLeft">
				<div class="photo" id="example02">
					<img id="car1" src="/assets/laxmi.png" />
				</div>
			</div>
			<div class="leftInnerRight">
				<div class="box" id="example01">
				<h2 id="title01" align="center" >About Bride</h2>
			</div>
				<div class="photoInfo" id="photoInfo">
					<!--<dl id="dlName">Name</dl>
					<dd id="ddName">Lakshmi</dd>
					<dl id="dlQual">Qualification</dl>
					<dd id="ddQual">MCA</dd>
					<dl id="dlAge">Age</dl>
					<dd id="ddAge">Dont Ask :)</dd>-->
					<table id="brideGroomInfo">
					<tr>
						<td id="bgNameLabel">Name</td>
						<td id="bgNameData">Lakshmi</td>
					</tr>
					<tr>
						<td id="bgBelongLabel" valign="top">Daughter of</td>
						<td id="bgBelongData">Mr & Mrs. Anjaneyulu,Rupavathi Devi</td>
					</tr>
					<tr>
						<td id="bgHailsLabel">Hails From</td>
						<td id="bgHailsData">Kakinada</td>
					</tr>
					<tr>
						<td id="bgAgeLabel">Age</td>
						<td id="bgAgeData">Younger than Groom</td>
					</tr>
					<tr>
						<td id="bgLiveLabel">Live in</td>
						<td id="bgLiveData">Hyderabad</td>
					</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="rightContainer">		
        <%= render("shared/right_menu") %>
	</div>	
</div>
