<div class="container">
	<div class="leftContainer">		
		<div id="header">
			<img class="foreground" src="/assets/foreground-land.png" alt="Welcome to the City" width="960"/>
			<div id="titlebar">
				<h1>Welcome</h1>
			</div>
			<div id="sliders">
				<div class="village">
					<div class="village-padding">
						<h2 id="title01">Engagement</h2>
						<div id="engPhoto"><img src="/assets/eng.jpg" width="130" /></div>
						<p id="engPhotoText1">On </p>
						<p id="engPhotoText2">Friday, 3<sup>rd</sup> May 2013</p>
						<p id="engPhotoText3">at 11.01 am.</p>
					</div>
				</div>
				<div class="cloudbar">
					<div class="cloud-padding">
						<h2 id="title02">Venue</h2>
						<p id="venueText">Bride's Residence<br>
						J.Ramarao Pet,<br>
						Kakinada.<br></p>
					</div>
				</div>
			</div>
			
		</div>
		<div id="content"><p id="inviteContent">Our hearts have been together for 
many years and we feel prepared to 
start a life together, because we believe 
in our love above all. 
We want to invite you to our religious 
wedding, because without you 
this would not be such a special day.</p></div>
	</div>
	<div class="rightContainer">		
        <%= render("shared/right_menu") %>
	</div>	
</div>