<div class="container">
	<div class="leftContainer">		
		<div id="header">
			<img class="foreground" src="/assets/foreground-land.png" alt="Welcome to the City" width="960"/>
			<div id="titlebar">
				<h1>Welcome</h1>
			</div>
			<div id="sliders">
				<div class="village">
					<div class="village-padding">
						<h2 id="title01">Engagement</h2>
						<div id="engPhoto"><img src="/assets/ourEng.jpg" width="130" /></div>
						<p id="engPhotoText1">We got Engaged On </p>
						<p id="engPhotoText3">Friday, 3<sup>rd</sup> May 2013</p>
					</div>
				</div>
				<div class="cloudbar">
					<div class="cloud-padding">
					<p id="title02">Engagement Cake</p>
					<div id="engPhotoCake"><img src="/assets/eng_cake.png" height="160"></div>
					</div>
				</div>
			</div>
			
		</div>
		<div id="content"><p id="inviteContent">We are Happy to announce you that We got Engaged on Friday, 3<sup>rd</sup> May 2013. We are cordially Inviting you for our Marriage on Sunday, 26<sup>th</sup> May 2013. When the clock shows you 10.46pm. At Annavaram Temple</p></div>
	</div>
	<div class="rightContainer">		
        <%= render("shared/right_menu") %>
	</div>	
</div>