<div id="wrapper">
		<div id="header">
			<img class="foreground" src="/assets/foreground-land.png" alt="Welcome to the City"/>
			<div id="titlebar">
				<h1>Welcome</h1>
			</div>
			<div id="sliders">
				<div class="village">
					<div class="village-padding">
						<h2>Engagement Muhurtham</h2>
						<div id="engPhoto"><img src="/assets/engagement.jpg" width="130" /></div>
						<div id="engPhotoText">Friday 3rd May 2013</div>
					</div>
				</div>
				<div class="cloudbar">
					<div class="cloud-padding">
						<h2>venue</h2>
						Bride's residence
					</div>
				</div>
			</div>
		</div>
		<div id="content"></div>
    </div>