


<div id="wrapper">
	<div id="header">
		<div id="innerContent" align="center">
			<div class="box" id="example01">
				<h2 id="title01" align="center" >About Groom</h2>
			</div>
			<div class="photo" id="example02">
				<img id="car1" src="images/siva.png" />
			</div>
			<div class="photoInfo" id="photoInfo">
				<dl id="dlName">Name</dl>
				<dd id="ddName">Siva Krishna</dd>
				<dl id="dlQual">Qualification</dl>
				<dd id="ddQual">MCA</dd>
				<dl id="dlAge">Age</dl>
				<dd id="ddAge">Dont Ask :)</dd>
			</div>
		</div>
		<div>
			<a href="<%=  bride_path() %>">Bride Info</a>
		</div>
	</div>
</div>

