<div class="container">
	<div class="leftContainer">
		<div class="leftInner">
			<marquee behavior="scroll" scrollamount="5"  onmouseout="this.start()" onmouseover="this.stop()">
			  <img src="/assets/flight.png" alt="flight" height="90px" width="600px;"/>
			  <div class="timeFlag" id="countdown"></div>
			</marquee>
			
			<div class="leftInnerLeft">
				<div class="photo" id="example02">
					<img id="car1" src="/assets/siva.png" height="400" />
				</div>
			</div>
			<div class="leftInnerRight">
				<div class="box" id="example01">
				<h2 id="title01" align="center" >About Groom</h2>
			</div>
				<div class="photoInfo" id="photoInfo">
					<dl id="dlName">Name</dl>
					<dd id="ddName">Siva Krishna</dd>
					<dl id="dlQual">Qualification</dl>
					<dd id="ddQual">MCA</dd>
					<dl id="dlLang">Languages Known</dl>
					<dd id="ddLang">Java, Ruby (Sorry Telugu, English :))</dd>
					<dl id="dlAge">Age</dl>
					<dd id="ddAge">Dont Ask :)</dd>					
				</div>
			</div>
		</div>
	</div>
	<div class="rightContainer">		
        <%= render("shared/right_menu") %>
	</div>	
</div>
