/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#flipbox1 {
    background: url("love.png") no-repeat scroll 0 0 transparent !important;
    color: #ffffff;
    font-family: 'ChunkFive Regular',Tahoma,Helvetica;
    font-size: 2.5em;
    height: 100%;
    
    /*text-align: center;*/
    height: 435px !important;
    
    margin: 200px 573px 96px 162px;
    background-color: none !important;
    
}
body{
  background: url("body-back-new.jpg") no-repeat scroll 0 0 transparent;
}