/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 */

#flipbox1 {
   /* background: url("love.png") no-repeat scroll 7.6% 22px / 34% auto transparent;*/
    color: #ffffff;
    font-family: myWeddingFont;
    font-size: 2.5em;
    height: 435px;
    
}
#flipbox1 span pre span {   
    font-family: myWeddingFont;
	font-size:19px;
	font-weight:bold;
	color:#C70506;   
}

body{
  background: url("body-back-new.jpg") no-repeat scroll 0 0 transparent;
   font-family: myWeddingFont;  
}
.item_content a{
    background-color:transparent;
    float:left;
    margin-right:7px;
    margin-top:8px !important;
    color:#bbb;
    text-shadow: 1px 1px 1px #fff;
    text-decoration:none;
	color:#0b965b;
	font-weight:normal !important;
	padding-left:5px;
}