/* CSS Document */

body{
	color:#FFFFFF;
	background: url(/assets/indexBg.jpg) center center fixed;
	background-size:cover;
	padding:0;
	margin:0;
	font-family:myWeddingFont;
}
h2{
color:#009933;
}
.photo{
	float:right;
	width:80%;
}
.photoInfo{
	float:left;
	margin-left:5%;
	margin-top:5%;
	width:90%;
	line-height: 50px;
	color:#009933;
	font-weight:bold;
	background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.photoInfo dl{
	float:left;
	margin:0;
	display:none;
	text-align:left;
	font-size:15px;
	clear:both;
}
.photoInfo dd{
	float:right;
	width:65%;
	display:none;
	text-align:left;
	font-size:15px;
}

a {
    float: right;
    color: #fff;
    text-align: right;
    clear: both;
	font-weight:bold;
	text-decoration:none;
	padding-right:10px;
}
.timeFlag{
	text-align:right;
	width:370px;
	margin-top: -99px;
        margin-left: 130px;
	color:#00CC33;
	font-family:myWeddingFont;
	font-size:24px;
	padding-right:30px;
	background-position:bottom;	
}
.container{
	width:90%;
}
.leftContainer{
	width:95%;
	float:left;
	background: url("/assets/abstract-background-wallpaper-tws.jpg") no-repeat;
	background-position:right;
	height:650px;
}
.rightContainer{
	width:5%;
	float:left;
}
.leftInner{
	margin:0 auto;
	width:88%;
	float:right;
	padding-top:30px;
}
.leftInnerLeft{
	float:left;
	width:25%;	
}
.leftInnerRight{
	float:left;
	width:75%;
}